.topbar {
  background: $primary-color;
  padding: 1em;
  height: $navbar-height;

  a {
    color: white;
  }
}

.menu--social-media-links {
  .icon-label {
    display: none;
  }
}

.navbar-toggler-icon {
  @include icon('')
}
