// .off-canvas-toggle {
//   color: white;
//   position: absolute;
//   top: 0;
//   right: 1em;
//   background-image: $navbar-dark-toggler-icon-bg;
//   @include flexify($navbar-height);
//   width: 50px;
//   text-indent: -10000px;
//   z-index: 100;
// }


//SIDEBAR OFF-CANVAS MENU

#off-canvas {
  position: fixed;
  width: $off-canvas-menu-width;
  height: 100%;
  top: 0;
  right: -$off-canvas-menu-width;
  background: $primary-color;
  transition: right .5s;
  z-index: 5;

  .region-off-canvas {
    @include flexify(100%);
    flex-wrap: wrap;
    flex-direction: column;
    padding: 100px 15px 15px;

    & > * {
      flex: 1;
      padding: 15px;
      margin-bottom: 15px;

      width: 100%;
      @include scrollbar($fourth-color, 'hover');

      &:not(:last-child) {
        border-bottom: 1px solid #efefef;
      }
    }
  }

  .off-canvas-overlay {
    content: "";
    width: 100%;
    height: 100%;
    background: none;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all .5s;
    pointer-events: none;
  }

  &.expanded-off-canvas {
    right: ($off-canvas-width - $off-canvas-menu-width);

    .off-canvas-overlay {
      background: $primary-color-transparent-off-canvas;
      right: $off-canvas-width;
      pointer-events: auto;
    }
  }

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    width: ($off-canvas-width - $off-canvas-menu-width);
    bottom: 0;
    background: $primary-color;
    right: ($off-canvas-menu-width - $off-canvas-width);
  }

  nav {
    color: white;

    ul {
      flex-direction: column;
    }

    .dl-menu {
      opacity: 1;
      pointer-events: all;
      background: none;
    }

    .dl-submenu {
      background: none;
    }
  }
}
