.paragraph-container {
  .container-wrapper {
    display: flex;
    flex-wrap: wrap;
    width:100%;
  }
  &.card {
    padding: 15px 0px;
    margin-bottom: 0;
    .carousel {
      margin: -15px;
    }
  }



}
