$base-banner-height: 200px;

// .region-header {
//     margin-bottom:50px;
// }
.path-frontpage .region-header {
    margin-bottom:0;
}
.block-content--type-site-section-banner {
    height:$base-banner-height;
    position: relative;
    background-position:center center;

    //Adjust the height based on media query//
    @include media-breakpoint-between(xs, sm)  {
        height:calc(#{$base-banner-height} + 3vw);
    }
    @include media-breakpoint-between(sm, md) {
        height:calc(#{$base-banner-height} + 6vw);
    }
    @include media-breakpoint-up(md)  {
        height:calc(#{$base-banner-height} + 10vw);
    }
    

    .bs-region {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.5));
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .65);
    & > h1 {
        font-size: $dynamic-font-size-title;
    }
    .breadcrumbs {
        display:flex;
        flex-wrap:wrap;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .95);
        .breadcrumb-link {
            a {
                color: $fourth-color;
                font-size:$dynamic-font-size-small;
                opacity: 1;
                &:hover {
                    color: white;
                }
                }
            &:not(:last-child) {
                a {
                    @include icon('angle-right', 'after');
                    padding:0 1em;
                    &:after {
                        margin-left: 1em;
                    }
                
                }
           
                }
            }
    }
}

}


