@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "variables/**/*";
@import "helpers/**/*";

.layout__region {
	@include rem(margin-bottom, $space);
}

@include breakpoint($tab) {
	.layout--twocol-left.has-aside .wrapper,
	.layout--twocol-right.has-aside .wrapper{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		align-content: stretch;

	}
	.layout--twocol-left.has-aside {
		.layout__region--aside {
			grid-column-end: span 3;
			order: 1;
		}
		.layout__region--main {
			grid-column-end: span 9;
			order: 2;
		}
	}

	.layout--twocol-right.has-aside {
		.layout__region--aside {
			grid-column-end: span 3;
		}
		.layout__region--main {
			grid-column-end: span 9;
		}
	}
}