//Dynamic text

$dynamic-font-size: calc(1.2em + 0.5vw);
$dynamic-font-size-title: calc(2em + 1vw);
$dynamic-font-size-small: calc(0.75em + 0.5vw);
$dynamic-font-size-xs: calc(0.5em + 0.5vw);  

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $poppins;
}

h1 {
  font-size: $font-size-h1;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

h2 {
  font-size: $font-size-h2;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: $font-size-h3;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

h4 {
  font-size: $font-size-h4;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  line-height: 2em;
  color: #555;
  font-weight: 100;
}

a {
  opacity:0.9;
  &:hover {
    opacity:1;
  }
  &:focus {
    opacity:1;
  }
  @include linkhover($secondary-color);
}


blockquote {
  border-left: 7px solid $primary-color;
  margin: 30px 0;
  padding-left: 15px;
  font-weight: 600 !important;
  p {
    padding-left: 30px;
    font-style: italic;
    font-weight: 600;
  }
}



//Block and Component Titles//
.block-title, .component-title { 
  display:inline-block; 
  padding-left: 30px;
  margin:30px 0 15px;
  color: $third-color;
  border-left:5px solid $primary-color;
  font-size: $dynamic-font-size;
}


//Page Titles//
.page-title {
 font-size: $dynamic-font-size-title;
  color: $primary-color;
  margin: 0 0 50px 0;
  padding: 0;
  position:relative;
  &:after {
    content: "";
    position:absolute;
    width:100px;
    height:4px;
    background: linear-gradient(to right, $primary-color, $third-color);
    bottom:-25px;
    left:0;
  }

  .field.field--name-field-icon, .icon {
    float: left;
    margin-right: 15px;
    padding: 0px 15px;
}

}

.block-entity-fieldnodetitle span{
  display:block;
  @extend .page-title;
  @extend h1;
  font-weight:bold;
}







//Font Utility Classes//
// Combine these classes for some rad effects!
.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lower {
  text-transform: lowercase
}

.align-center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.third-color {
  color: $third-color;
}

.knockout {
  color: #fff;
}

.small {
  font-size: 0.9em;
}

.no-wrap {
  white-space:nowrap;
}

.label {
  color: white;
  display: inline-block;
  padding: 10px 5px;
  background: $primary-color;
  &.primary {
    background: $primary-color;
  }
  &.secondary {
    background: $secondary-color;
  }
  &.third {
    background: $third-color;
  }
}

.meta-block {
  margin-bottom: 15px;
  opacity: 0.75;
  letter-spacing:1px;
  span {
    padding-right:5px;
  }
  &.primary {
    color: $primary-color;
  }
  &.secondary {
    color: $secondary-color;
  }
  &.third {
    color: $third-color;
  }
  &.knockout {
    color: white;
  }
}

.no-padding {
  padding: 0;
}

//bullets//
.bullet {
  margin: 1em 0;
  opacity: .75;
  font-weight: 600;
  .bullet-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .bullet-icon {
      font-size: 1.2em;
      margin-right: 30px;
    }
  }
}

