$yellow: #ffcd00;
$blue: #009cde;
$black: #101820;
$navy: #002554;
$teal: #165c7d;
$cerulean: #74d1ea;
$orange: #e87722;
$mustard: #f0b323;
$white: #fff;
$darkgray: #333f48;
$mediumgray: #75787b;
$lightgray: #efefef;
$palegray: #e2e8ec;
$ashgray: #d0d7de;
$coral: #f0515a;