@import "colors";

details {
  max-width: 80ch;
  box-shadow: 0 0 3px $ashgray;
  margin: 0 0 1rem 0;
  &[open] {
    summary {
      color: $coral;
      border-bottom: 1px dotted $ashgray;
      &:after {
        content: '\00d7';
        color: $coral;
      }
      &:hover {
        color: $coral;
      }
    }
  }
  summary {
    list-style: none;
    padding: 1rem;
    cursor: pointer;
    &:after {
      content: '+';
      text-align: right;
      float: right;
    }
    &:hover {
      color: $blue;
    }
    &:focus {
      outline: none;
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
  p {
    padding: 0 1rem;
  }
  p:last-child, li:last-child, figure:last-child {
    padding-bottom: 1rem;
  }
}
