@import "colors";

main {
    width: 80%;
    max-width: 1500px;
    margin: 1rem auto;
    p, ul {
        max-width: 80ch;
    }
    /* 
        the multicolumn class lets you create a multicolumn layout
        - apply it to a wrapper (e.g. a div) and all immediate children will be equal width columns.
        minimum column width is 320 pixels and it is responsive 
    */
    .multicolumn {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
    }
    img {
        width: auto;
        height: auto;
        max-width: 100%;
    } 
    figure {
        margin-bottom: 2rem;
        figcaption {
            text-align: right;
            font-style: italic;
            color: $mediumgray;
        }
    }
    .float-left {
        float: left;
    }
    a {
        text-decoration: none;
        color: $blue;
        &:hover {
            text-decoration: underline;
        }
    }
}