/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn,
.btn-blue,
.btn-orange,
.btn-burgundy,
.btn-green,
.btn-alt {
	@include rem(margin-bottom, $space);
	text-transform: capitalize;
	letter-spacing: .1px;
	@include rem(padding, $btn-font-size/2);
}

.btn {
	@include button;
	&.read-more {
		@include font-icon("\f101", $font-size-base*2.5, 4px, $font-size-base, $font-size-base, white, white, true);
	}
	&:visited {
		color: white;
	}
}

.btn-blue {
	@include button($blue-alt, white, darken($blue-alt, 10%));
}

.btn-orange {
	@include button($orange, white, darken($orange, 10%));
	&.inactive {
		opacity: .3;
		color: $gray-lightest;
	}
}

.btn-green {
	@include button($green, white, darken($green, 10%));
}

.btn-burgundy {
	@include button($burgundy, white, darken($burgundy, 10%));
}

.btn-alt {
	@include button($gray-lighter, $gray-dark, darken($gray-lighter, 10%));
	&.active {
		@include button($burgundy, white, darken($burgundy, 10%));
	}
}

a {
	&.btn-blue,
	&.btn-orange,
	&.btn-green,
	&.btn-burgundy{
		@include link-colors(white, white, white, white, white);
	}
}

.btn-large {
	//font-size: $font-size-h4, $btn-font-size);
	@include button--large;
}

.btn-alt.fullsize {
	background-repeat: no-repeat;
	@include rem(padding, $space-half $pad*.75);
}

.btn + .btn {
	@include rem(margin-left, $pad*.75);
	[dir="rtl"] & {
		margin-left: 0;
		@include rem(margin-right, $pad*.75);
	}
}

.btn-small {
	@include rem(padding, $space/6 $pad-half);
}

.btn-text {
	@include font-icon("\f101", $font-size-base, 2px, 0, $font-size-base, $link-color, $link-hover, true);
	&:after {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
	&:hover {
		color: $link-hover;
	}
}
