.header {
	background: $header-bg;
	p {
		margin: 0;
	}
}

.header_preface {
	background: $preface-bg;
	border-bottom: 1px solid $gray-lightish;
	@include rem(padding, 3px 0);
	.menu {
		@extend %reset-list;
		display: flex;
	}
	> .container {
		align-items: center;
	}
	.block-title {
		@extend %hide-text;
	}
	.wrapper-logo {
		a {
			display: block;
			width: 123px;
		}
		padding-left: 10px;
	}
	* {
		color: $gray-dark-azureish !important; // white;
	}
	#superfish-zoo-navigation {
		a {
			padding: .5rem 1.5rem;
		}
		a:nth-child(1) {
			padding-left: 0;
		}
	}
}

//.header-inner {
//	position: relative;
//	.block-superfish {
//		position: absolute;
//		right: 2%;
//		top: 10%
//	}
//}

.region--branding {
	@include rem(padding, $space/3 0);
	.branding-wrapper,
	.site-slogan {
		color: white;
		a {
			@include link-colors(white, white, white, white, white);
		}
	}
	.branding-wrapper {
		font-family: $font-secondary;
		font-weight: normal;
		margin: 0;
		span {
			display: block;
			@include rem(padding-left, 62px);
		}
	}
	.site-slogan {
		@include rem(padding-left, 62px);
		font-style: italic;
	}
	.logo-icon {
		width: 52px;
		float: left;
	}
	.si-name {
		@include rem(font-size, 28px);
		line-height: 1;
		@include rem(padding-top, 4px);
	}
	.site-name {
		@include rem(font-size, 18px);
		line-height: 1.125;
		font-style: italic;
	}
}

// end l-branding

@include breakpoint($tab) {
	.header-inner {
		z-index: 100;
		align-items: end;
	}
	.header_preface {
		.wrapper-logo {
			a {
				display: block;
				width: 132px;
			}
			padding-left: 20px;
		}
	}
	.region--branding {
		@include rem(padding, $space-half 0);
		.logo-icon {
			width: 80px;
		}
		.branding-wrapper span,
		.site-slogan {
			@include rem(padding-left, 90px);
		}
		.si-name {
			@include rem(font-size, 42px);
		}
		.site-name {
			@include rem(font-size, 25px);
		}

	}
}

@include breakpoint($desk) {
	header {
		.block-superfish {
			position: relative;
			width: 100%;
			top: auto;
			right: auto;
			a {
				color: $gray-dark-azureish;
			}
		}
	}
}

