.page-title {
  @include set_layout($max-width);
  @include rem(margin-top, $space-and-half);
  @include rem(margin-bottom, $space-and-half);
  .node--type-page & {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }

  &.spacing-extra {
    @include rem(margin-top, $space-double);
    @include rem(margin-bottom, $space-double);
  }
  &.spacing-top-extra {
    @include rem(margin-top, $space-double);
  }
  &.spacing-bottom-extra {
    @include rem(margin-bottom, $space-double);
  }
}

.views-row {
  .field-content ul {
    @extend %reset-list;
  }
}

.views-view-grid {
  .views-row, .views-col {
    float: none;
    clear: none;
  }
  &.horizontal {
    .views-row {
      display: flex;
    }
  }
}