.accordion-container {


    .accordion-title {
   
        a {
            padding:15px;
            background: $fourth-color;
            display:block;
            width:100%; 
            position: relative;    
            &:after {
                position:absolute;
                right:15px;

            }
        &[aria-expanded="false"] {
            @include icon('plus', after);
        }
        &[aria-expanded="true"] {
            background: $third-color;
            color: white;
            @include icon ('minus', after);
        }
    }
    }
    .accordion-body {
        padding:15px;
        border:1px solid $fourth-color;
    }
}