//additional button properties//

.btn {
  text-transform: uppercase;
  padding:5px 15px;
      @include linkhover(white);
      background: $secondary-color;
}

.btn-primary {
  color: white;
  background: $third-color; 
}

.views-submit-button {
  a, button {
    @extend .btn;
    @extend .btn-primary;
   
  }
  float:left !important;
}
.views-reset-button {
  float:left !important;
}


.webform-button--submit {
  width:100%;
}

.read-more a {
  text-align:center;
  font-weight:100;
  padding-right:10px;
  font-weight:800;
  @include icon('angle-right', 'after');
  &:after {
    opacity: 0;
    margin-left:10px;
  }
  &:hover {
    &:after {
      opacity:1;
      transition: all 0.3s ease;
      transition-delay: 0.2s;
      margin-left:15px;
     
    }
  }
}

.more-link {
  position:relative;
  display: block;
  width:100%;
  margin-top:15px;

//in case there's a p tag inside- set margin to 0//
  p{
    margin:0;
  }
//hide file icon//
  .file-icon {
    display:none;
  }
  a {
    color:$primary-color;
    font-size: 1.25em;
    padding:15px;
    @include linkhover($third-color);
    border:3px solid $primary-color;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight:600;
    width:100%;
    &:hover {
      transition: all, 0.2s ease;
      border-color:$third-color;
    }
  }
}


