
.date-block {
  display: flex;
  background: $third-color;
  color: white;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  .day {
    display:block;
    font-size: 1.5em;
    font-weight: 600;
  }
  .month-year {
    font-size: 1.2em;
    font-weight: 400;
  }
}


//Event Landing Page List//
.event-landing-list {
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 350px;
  margin-bottom: 30px;
  .info-block {
    position: absolute;
    background: rgba(25, 124, 191, 0.8);
    width: 100%;
    height:175px;
    left: 0;
    bottom: 0;
    padding: 15px 150px 15px 15px;
    p,
    a {
      color: white;
    }
    .address {
      font-size:0.9em;
    }
  }
  .date-block {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #d88a28c4;
    color: white;
    text-align: center;
  }

}

.event-teaser {
  .address {
    font-size:0.9em;
  }

}

//Add to Calendar block//
.addtocalendar {
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 100;
  background:$third-color !important;
  min-width: 100px;
  a {
    color: white;
  }

  &.disabled {
      cursor: default;
      text-decoration: none;
      background: $fourth-color !important;
      .atcb-link {
        color: #ccc;
        opacity: 0.65;
        pointer-events: none;
      }
  }

  .atcb-link {
    font-size: 1em;
    text-align: center;
    &:before {
      content: "+";
      font-size: 2em;
      font-weight: 600;
      display: block;
      text-align: center;
    }
    em {
      font-style: normal;
    }
  }
  .atcb-list {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background: $secondary-color;
    .atcb-item {
      background: none;
      padding: 5px 10px;
      color: white;
    }
  }
}

.page-node-type-events {
    .addtocalendar {
        position:relative;
        display:block;
        margin-bottom:15px;
     
        .atcb-link {
            display:flex;
            align-items: center;
            justify-content: center;
            font-size:0.75em;
            padding:10px;
            &:before {
                font-weight:400;
                padding-right:5px;
              
            }
        }
        .atcb-list{
            min-height:150px;
            top:100%;
        }
    }
}