.webform-submission-form {


.form-control {
    height:45px;
  &:focus{
    border: 2px solid $third-color;
    transition: border 0.5s ease-out;
  }
}


textarea {
  height:auto !important;
}  


//reduce lavbel sizes
label {
    font-size:1em;
    color: #666; 
    font-weight:100;
    margin-bottom:5px !important;
}

.panel {
    font-size:1em !important;
    label {
        font-size:0.9em !important;
    }
    .panel-heading {
        a {
            color: $primary-color !important;
        }
    }
}

//submit button//
button.form-submit {
  height:40px;
  margin-top:20px;
}

//fieldset headings
.table-responsive th {
    font-size:0.9em;
    font-weight:100;
}

//hide display for add more items//
.form-item-phone-add-more-items {
    display: none !important;
    }
#edit-phone-add-submit {
    display:none;
}


}

#edit-phone-items-0-item---wrapper {
    display:flex;
}



//multi select buttons//

.webform-multiple-table--operations button {
  color: $third-color;
  border: none;
  padding: 0 10px;
  font-size: 20px;
  background: none;
  &:hover {
      opacity:0.9;
      background:none;
      color:#ccc;
    }
  }

//newsletter signup block on homepage//

.path-frontpage .block-webform {
  padding: 15px 30px;
  background:$secondary-color;
  border: 1px solid #efefef;
  box-shadow: 2px 0px 4px #ccc;


  .block-title {
    color: white;
    border-color:white;

  }

  .form-group {
    margin:15px auto;
  }

  .btn-primary {
    width:auto;
    background: $primary-color;
  }

}