.node--type-gallery {
   // position the caption to fit the dimentions of the card display
    .card {
        .caption {
            bottom:30px;
        }
    }
}

.gallery-container {
    display: flex;
    flex-flow: row wrap;
    margin-bottom:30px;
    .paragraph--view-mode-card {
        height: 100%;
    }
    .gallery-item {
        padding:10px 10px 0 0;
        width:350px;
        height:350px;
        overflow:hidden;
        flex: auto;
        
     .modal-trigger img {
            max-width:none;
            width:100%;
            object-fit: cover;
            margin:auto;
            height:350px;
        }
    }
}



