.field--name-field-issue-components {
    margin-top:1em;
}

.view-id-issues a.field-group-link {
    height: 100%;
    width: 100%;
    display: block;
}


//Issues Full Page

.taxonomy-term--view-mode-full {
    .issue-intro {
        height:auto;
        overflow: auto;
        display: flex;
        flex-wrap:wrap;
        .media-callout {
            height: auto;
            flex:70% 1 1;
            padding:0px 15px 0 0;
        }
        .media-item {
            flex:30% 1 1;
            padding-top:115px;
        }
        @include media-breakpoint-down(sm){
            .media-callout, .media-item {
                flex: 100%;
            }
            .media-item {
                padding-top:15px;
            }
        }
    }
}


//Issues Sidebar
.issues-sidebar-item {
    padding:5px 0;
    transition: all 0.3s ease;
    .issue-icon {
        a {
            border:none;
            font-size:1em;
            border-radius:none;
        }
    }



}

//Issue Teaser View Mode
.issue-teaser {
    .micon {
    font-size: 2em;
    }
}

.related-issues {
    display:flex;
    flex-wrap: wrap;
}


//Issue Icon View Mode
.issue-icon {
    a {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin:5px 5px 5px 0px;
    padding:5px 10px;
    border: 2px solid $fourth-color;
    border-radius:15px;
    font-weight:bold;

   
    .icon {
        border-radius: 50%;
        margin-right:5px;
        }
    }
}

.knockout .issue-icon {
    a {
        color: white;
    }
}

