.carousel {
  margin-top: 60px;
  padding: 0px;
  .medallion {
    background: $primary-color;
    font-size: 60px;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    z-index: 2;
    margin: auto;
    text-align: center;
    line-height: 0;
    left: calc(50% - 60px);
    box-shadow: 0px -2px 8px rgba(35, 34, 34, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -60px;
    .micon {
      color: white;
    }
  } 
  
  
  //Custom HTML Blocks//
  .paragraph--type-custom-content,
  .field--name-field-html-markup {
    text-align: center;
    padding: 60px 30px;
    font-size: 0.9em;
  } 
  
  
  //Media Items//
  .paragraph--type-media-item {
    margin: 0;
    .default {
      img {
        height: 100%;
        object-fit: cover;
        @include media-breakpoint-down(sm){
          max-height:350px;
        }
       
      }
    }
    .portrait {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      height: 300px;
      border-radius: 0;
      img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
      }
    } 
    //Caption 
    .caption {
      position: absolute;
      margin-top: 0;
      text-align: left;
      padding: 15px;
      left: 0;
      right: 0;
      background: none;
      text-shadow: 1px 1px 1px #000;
      font-size: 1em;
      @include icon('comment-o', 'before');
      &:before {
        font-size: 2em;
      }
    }
  } 
  //Cards 
  .card {
    box-shadow:none;
    border:none;
  }
  

  .slick-slider {
    max-width:100%;
    overflow: hidden;
    margin-bottom:0 !important;
    @include media-breakpoint-down(sm)  {
      max-width:620px;
      margin:auto;
    }
    @include media-breakpoint-down(xs) {
      max-width:300px;
      margin:auto;
    }
  }
  //pagination dots
  .slick-dots {
    height: 30px;
    bottom: 0;
    li button {
      &:before {
        font-size: 10px;
        color: white;
        opacity: 1;
      }
    }
  } //directtional arrows
  .slick-prev,
  .slick-next {
    top: 20px;
    z-index: 1;
    &:before {
      color: $fourth-color;
    }
  }
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
  .slick-list {
    width:100%;
    overflow: hidden;
  }
  .slick-track {
    display: flex;
    align-items: stretch;
    .slick-slide {
      height: auto;
      &>div {
        height: 100%;
        display: flex;
        align-items: center;
        .paragraph--type-media-item,
        .col-sm-12,
        .media-item,
        figure {
          height: 100%;
        }
      }
      .col-sm-12 {
        padding: 0;
      }
    }
  }
}

//COLOR SCHEMES//
.carousel {
  //Navy Blue Background, White Text
  &.dark-blue {
    border: none;
    .medallion {
      background: $third-color;
      color: white;
    }
    .slick-list {
      background: $primary-color;
      * {
        color: white;
      }
      .caption {
        background: $third-color;
      }
    }
    .slick-dots {
      background: $primary-color;
      li.slick-active button:before {
        color: $third-color;
      }
    }
  } //Navy Blue Background, White Text
  &.orange {
    .medallion {
      background: #a94442;
      color: white;
    }
    .slick-list {
      background: $secondary-color;
      * {
        color: white;
      }
    }
    .slick-dots {
      background: $secondary-color;
      li.slick-active button:before {
        color: #a94442;
      }
    }
  }
  &.sky-blue {
    .medallion {
      background: $primary-color;
      color: white;
    }
    .slick-list {
      background: $third-color;
      * {
        color: white;
      }
    }
    .slick-dots {
      background: $third-color;
      li.slick-active button:before {
        color: $primary-color;
      }
    }
  }
}
