//Style Captions 
.media {

  .detailed {
    position:relative;
    background: #000;
  }
}

.caption {
  position: absolute;
  text-transform: none;
  margin: 0;
  left: 15px;
  bottom: 0;
  right:15px;
  padding: 15px 10px;
  background: $primary-color;
  color: white;
  opacity: 1;
  font-size: 0.75em;
  &:before {
    display: none;
  }
}

//portrait image styles 
.portrait {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  img {
    display: block;
    max-width:none;
    width:100%;
  }
}

//Content images
.region-content .field--name-body img {
  max-width: 100%;
  height: auto;
}

.block-apirenderer-twitter-block {
  background-color: $fourth-color;
  padding: 1em;
  margin-top: 15px;
  box-shadow: 1px 1px 8px 0px rgba(68, 68, 68, 0.5);
  .twitter-title, .twitter-title-2, .follow-me {
    display: none;
  }
  img {
    border-radius: 50%;
    max-width: 100%;
  }
  .utilbar>span {
    margin-left: 5px;
    margin-right: 5px;
  }
  .post {
    padding: 0;
    .icon-box {
      @include media-breakpoint-down(sm)  {
        padding: 0;
      }
    }
  }
}

.media > div:hover {
  img {
    opacity: 0.8;
  }
  .modal-body img {
    opacity: 1;
  }
  .media-util-button {
    opacity:1;
    transition: opacity 0.3s ease-in;
    transition-delay: 0.5s;
  }
}

//Media Utility Buttons
.media-util-button {
  opacity: 0;
  width: 24px;
  border: 1.5px solid #fff;
  color: white;
  @include flexify(24px);
  border-radius: 50%;
  padding: 0;
  box-sizing: content-box;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  a {
    color: white;
  }
}

.media-linker {
  @extend .media-util-button;
  right: 47px;
}

//media-caption portrait overrides
.portrait {
  .media-util-button{
  position: absolute;
  left: calc(100px - 12px);
  top: calc(200px - 42px);
  }
  .media-caption {
    max-width: 200px;
    max-height:200px; 
  }
}


.media {
  .media-caption {
    position:absolute;
    top: 0px; 
    left: 0px; 
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    @include flexify(100%);
    z-index: 1;
    padding:15px 15px 30px;
    text-align: center;
    }
 
}


.embedded-entity {
  &.align-left {
    margin-top: 1em;
    margin-right: 10px;
  }
  &.align-right {
    margin-top: 1em;
    margin-left:10px;
  }
}