
//Staff Page Styling

    .page-node-type-staff {
        .staff-biography {
    
        }
        .staff-info {
            padding:15px 0;
            margin:15px 0;
            border-top:1px solid #efefef;
         
            border-bottom:1px solid #efefef;

            .staff-position {
                display:flex;
                align-items: center;
                justify-content: center;
                padding-right:15px;
                margin-right:15px;
                @include media-breakpoint-up(sm){
                    border-right:1px solid #efefef;
                }
            }
        }
    }

//Staff Teaser Styling

    .staff-teaser {
        padding:5px;
        overflow:hidden;
        margin-bottom:15px;
         strong {
            color: $primary-color;
        }
        .staff-teaser-contact-hover {
            border-radius: 50%;
            width:200px;
            height:200px;
            margin:0px auto 5px;
            float:none;
            overflow: hidden;
            position: relative;
            padding:0px;
            .contact-info {
                position: absolute;
                opacity: 0;
                transition: opacity .5s ease;
                width: 100%;
                height: 100%;
                border-radius:50%;
                background: linear-gradient(to right, $primary-color-transparent, $third-color-transparent);
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                a {
                    font-size:0.8em;
                    color: white;
                }
                .fa {
                    color: white;
                }
            }
            &:hover {
                .contact-info {
                    opacity: 1;
                }
            }
        }
    }
    //related staff list//

    .related-staff {
        border-top:1px solid #ccc;
        margin-top:60px;
    }
//Staff Sidebar Styling

.staff-sidebar {
    margin:15px auto;
    align-content: center;
    .contact-info {
        font-size:0.75em;
    }
  
}

.contact-info {
    font-size:0.9em;
}