//statistics in the footer
.statistics-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    margin: 20px auto 0;
    border-bottom: 1px solid #ffffff;
    flex-wrap:wrap;
    @include media-breakpoint-up(md)  {
        max-width: 80%;
        flex-wrap:nowrap;
    }
//Statistics Box//
.component {
    width:100%;
}
.statistics-box {
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    padding:15px 30px;
    margin:0;
    flex-direction: column;
    flex-wrap: wrap;
    h2 {
        color: white;
        background:none;
        font-size:1em;
    }
 
    .statistic {
        color: white;
        font-size:1.5em;
    }
}

}


.statistics-box {
    padding: 15px;
    border: 1px solid #efefef;
    margin:30px 0;
    display:inline-block;
    h2 {
        color: #666;
        background:white;
        float:left;
        padding:0 10px;
        margin-bottom:30px;
        margin-top:-30px; 
    
    }
    .statistic {
        font-size:2.1em;
        color:$third-color;
        margin-bottom:20px;
        display:block;
        float:left;
        width:100%;
    }
    .statistics-description {
        padding:20px 0;
        font-size:1em;
        color:#aaa
    }
}


.statistics-box.knockout-navy {
    background:$primary-color;
    padding:15px 30px;
    * {
        color:white;
    }
    .statistic {
        margin-bottom:20px;
    }
    h2 {
        background: $third-color;       
        margin-left:-30px;
        box-shadow:2px 3px #0074bd;
    }
}

.statistics-box.knockout-orange {
    padding:15px 30px;
    border:2px solid $secondary-color;
    .statistic {
        color: $secondary-color;
    }
    .statistic {
        margin-bottom:20px;
    }
    h2 {
        color:$secondary-color;       
        margin-left:-15px;
        box-shadow:2px 3px white;
        background: white;
    }
}
