{% if content %}
<section{{ attributes }} >
<details>
<summary class="accordion--summary">
    {{ content.summary }}
  </summary>
  <div class="accordion--content">
    {{ content.content }}
  </div>
</details>
</section>
{% endif %}