<!-- Add you custom twig html here -->
<h4>this is a test</h4>


{{ kint(options) }}

{{ kint(rows) }}

{{ kint(dates) }}

<div id="calendar_basic" style="width: 1000px; height: {{ options.canvasHeight }};"></div>
