
.container,
.layout-constrain > .content,
.layout-constrain > .section-title,
.main-content {
  @include set_layout($max-width);
}
.main-content {
  @include rem(padding, $space-and-half 0);
}
.node--type-landing-page .main-content {
  max-width: 100%;
  width: 100%;
  padding: 0;
}
.node--type-page .main-content {
  padding-top: 0;
}

.container .container,
.container .layout-constrain > .content,
.layout-constrain > .content .title{
  max-width: 100%;
  width: 100%;
  margin: auto;
}


.page-user .content-wrapper {
  @include rem(margin-top, $space-double);
}
.container-wide,
.layout-wide > .content,
.layout-wide .title{
  @include set_layout($bp-mega);
}

.layout-constrain .content .content {
  max-width: 100%;
}
.padding {
  @include rem(padding, $space 0);
}

.padding-all {
  @include rem(padding, $space $pad);
}
.padding-extra {
  @include rem(padding-top, $space-double);
  @include rem(padding-bottom, $space-double);
}
.padding-left {
  @include rem(padding-left, $pad);
}
.padding-right {
  @include rem(padding-right, $pad);
}

.spacing {
  @include rem(margin-top, $space);
  @include rem(margin-bottom, $space);
}

.spacing-half {
  @include rem(margin-top, $space-half);
  @include rem(margin-bottom, $space-half);
}

.spacing-extra {
  @include rem(margin-top, $space-double);
  @include rem(margin-bottom, $space-double);
}

.spacing-top {
  @include rem(margin-top, $space);
  
}
.spacing-top-half {
  @include rem(margin-top, $space-half);
}

.spacing-top-extra {
  @include rem(margin-top, $space-double);
}

.spacing-bottom {
  @include rem(margin-bottom, $space);
}

.spacing-bottom-half {
  @include rem(margin-bottom, $space-half);
}

.spacing-bottom-extra {
  @include rem(margin-bottom, $space-double);
}

.no-spacing {
  margin-top: 0;
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

p.no-spacing {
  @include rem(margin-top, $space);
  margin-bottom: 0;
}

.cf, .clearfix {
  @extend %clearfix;
}

/// layout
@include breakpoint($tab) {
  .padding-sm {
    @include rem(padding-top, $space);
    @include rem(padding-bottom, $space);
  }
  
  .padding-extra-sm {
    @include rem(padding-top, $space-double);
    @include rem(padding-bottom, $space-double);
  }
  
  .spacing-sm {
    //margin: em($space-and-half) 0;
    @include rem(margin-top, $space);
    @include rem(margin-bottom, $space);
  }
  
  .spacing-extra-sm {
    @include rem(margin-top, $space-double);
    @include rem(margin-bottom, $space-double);
  }
  
  .no-spacing-sm {
    margin: 0;
  }
} //end tab

@include breakpoint($desk) {
  .padding-md {
    @include rem(padding-top, $space);
    @include rem(padding-bottom, $space);
  }
  
  .padding-extra-md {
    @include rem(padding-top, $space-double);
    @include rem(padding-bottom, $space-double);
  }
  
  .spacing-md {
    @include rem(margin-top, $space);
    @include rem(margin-bottom, $space);
  }
  
  .spacing-extra-md {
    @include rem(margin-top, $space-double);
    @include rem(margin-bottom, $space-double);
  }
  
  .no-spacing-md {
    margin: 0;
  }
  
  .entity-paragraphs-item .layout .col {
    margin-bottom: 0;
  }

}


@include breakpoint('all' $bp-mega*1.04) {
  .container-wide {
    width: 100%;
  }
}